In [99]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import datetime as dt
from datetime import datetime as datetime

# Load weather data, which covers interestin period:
Years: 2013-2015

In [100]:
weather_files = ["722247-54785-2013", "722247-54785-2014", "722247-54785-2015"]

In [101]:
tp = pd.DataFrame()
for f in weather_files:
    tp_temp = pd.read_fwf("".join(["../data/1. raw/", f]), header=None, index_col=False, 
                          widths=[4, 6, 5, 4, 2, 2, 2, 2, 1, 6,7, 5, 5, 5, 4, 3, 1, 1, 4, 1, 5, 1, 1, 1, 6, 1, 1, 1, 5, 1, 5, 1, 5, 1])  
    tp = tp.append(tp_temp, ignore_index=True)
len(tp)

30305

In [102]:
tp.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,234,722247,54785,2013,1,1,0,53,7,40624,...,16093,5,N,5,22,5,-56,5,10141,5
1,196,722247,54785,2013,1,1,1,53,7,40624,...,16093,5,N,5,22,5,-56,5,10137,5
2,234,722247,54785,2013,1,1,2,53,7,40624,...,16093,5,N,5,22,5,-50,5,10130,5
3,196,722247,54785,2013,1,1,3,53,7,40624,...,16093,5,N,5,17,5,-39,5,10128,5
4,206,722247,54785,2013,1,1,4,53,7,40624,...,16093,5,N,5,22,5,-39,5,10128,5

# Select only relevant columns

In [103]:
tp = tp.iloc[:,[1, 2, 3, 4, 5, 6, 7, 9, 10, 12, 15, 18, 28, 30, 32]]

In [104]:
tp.columns = ["USAFID", "WBAN", "YR", "M","D", "HR", "MIN", "LAT", "LONG", "ELEV", "WIND_DIR", "WIND_SPD", "TEMP", "DEW_POINT", "ATM_PRES"]

In [105]:
tp.head()

,USAFID,WBAN,YR,M,D,HR,MIN,LAT,LONG,ELEV,WIND_DIR,WIND_SPD,TEMP,DEW_POINT,ATM_PRES
0,722247,54785,2013,1,1,0,53,40624,-74669,30,999,0,22,-56,10141
1,722247,54785,2013,1,1,1,53,40624,-74669,30,999,0,22,-56,10137
2,722247,54785,2013,1,1,2,53,40624,-74669,30,999,0,22,-50,10130
3,722247,54785,2013,1,1,3,53,40624,-74669,30,999,0,17,-39,10128
4,722247,54785,2013,1,1,4,53,40624,-74669,30,999,0,22,-39,10128

# Scale values

In [106]:
tp.LAT = tp.LAT/1000
tp.LONG = tp.LONG/1000
tp.WIND_SPD = tp.WIND_SPD/10
tp.TEMP = tp.TEMP/10
tp.DEW_POINT = tp.DEW_POINT/10
tp.ATM_PRES = tp.ATM_PRES/10

In [107]:
tp.head()

,USAFID,WBAN,YR,M,D,HR,MIN,LAT,LONG,ELEV,WIND_DIR,WIND_SPD,TEMP,DEW_POINT,ATM_PRES
0,722247,54785,2013,1,1,0,53,40.624,-74.669,30,999,0,2.2,-5.6,1014.1
1,722247,54785,2013,1,1,1,53,40.624,-74.669,30,999,0,2.2,-5.6,1013.7
2,722247,54785,2013,1,1,2,53,40.624,-74.669,30,999,0,2.2,-5.0,1013.0
3,722247,54785,2013,1,1,3,53,40.624,-74.669,30,999,0,1.7,-3.9,1012.8
4,722247,54785,2013,1,1,4,53,40.624,-74.669,30,999,0,2.2,-3.9,1012.8

In [109]:
tp.to_pickle("../data/2. cleansed/weather.pkl")